* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text);
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}
